# Database Configuration
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=your_postgres_port

# API Configuration
API_PORT=8000
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@localhost:your_postgres_port/your_postgres_db

# Application Settings
ENVIRONMENT=development
DEBUG=true

# Scraper Configuration
REDIS_URL=redis://localhost:6379
API_BASE_URL=http://localhost:8000/api/v1


GMAIL_CLIENT_ID=your_gmail_client_id_here
GMAIL_CLIENT_SECRET=your_gmail_client_secret_here